{% extends "core/base3.html" %}
{% load static %}
{% block content %}
 <!-- Breadcrumbs -->
 <section class="breadcrumbs-custom-inset">
    <div class="breadcrumbs-custom context-dark bg-overlay-60">
      <div class="container">
        <h2 class="breadcrumbs-custom-title">About</h2>
        <ul class="breadcrumbs-custom-path">
          <li><a href="index.html">Home</a></li>
          <li class="active">About</li>
        </ul>
      </div>
      <div class="box-position" style="background-image: url({% static 'core/images4/classroom.jpg' %});"></div>
    </div>
  </section>
  <!-- Why choose us-->
  <section class="section section-sm section-first bg-default text-md-left">
    <div class="container">
      <div class="row row-50 justify-content-center align-items-xl-center">
        <div class="col-md-10 col-lg-5 col-xl-6"><img src="{% static 'core/images4/ak.jpg' %}" alt="" width="519" height="600"/>
        </div>
        <div class="col-md-10 col-lg-7 col-xl-6">
          <h1 class="text-spacing-25 font-weight-normal title-opacity-9">Why choose us</h1>
          <!-- Bootstrap tabs-->
          <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-4">
            <!-- Nav tabs-->
            <ul class="nav nav-tabs">
              <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-4-1" data-toggle="tab">Experience</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-2" data-toggle="tab">Value</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-3" data-toggle="tab">Mission</a></li>
            </ul>
            <!-- Tab panes-->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabs-4-1">
                <p>Our teachers have years of experience in the classroom and will only select questions that improve a learner's understanding of their curriculum. Additionally, most of the questions included are ones that are highly likely to be part of the final exam.</p>
                <!-- Linear progress bar-->
                <article class="progress-linear progress-secondary">
                  <div class="progress-header">
                    <p>Revision</p>
                  </div>
                  <div class="progress-bar-linear-wrap">
                    <div class="progress-bar-linear" data-gradient=""><span class="progress-value">100</span><span class="progress-marker"></span></div>
                  </div>
                </article>
                <!-- Linear progress bar-->
                <article class="progress-linear progress-orange">
                  <div class="progress-header">
                    <p>Exam Practice</p>
                  </div>
                  <div class="progress-bar-linear-wrap">
                    <div class="progress-bar-linear" data-gradient=""><span class="progress-value">100</span><span class="progress-marker"></span></div>
                  </div>
                </article>
                <!-- Linear progress bar-->
                <article class="progress-linear">
                  <div class="progress-header">
                    <p>Personalized Learning</p>
                  </div>
                  <div class="progress-bar-linear-wrap">
                    <div class="progress-bar-linear" data-gradient=""><span class="progress-value">100</span><span class="progress-marker"></span></div>
                  </div>
                </article>
              </div>
              <div class="tab-pane fade" id="tabs-4-2">
                <div class="row row-40 justify-content-center text-center inset-top-10">
                  <div class="col-sm-4">
                    <!-- Circle Progress Bar-->
                    <div class="progress-bar-circle" data-value="0.95" data-gradient="#01b3a7" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                    <p class="progress-bar-circle-title">Exams</p>
                  </div>
                  <div class="col-sm-4">
                    <!-- Circle Progress Bar-->
                    <div class="progress-bar-circle" data-value="0.87" data-gradient="#01b3a7" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                    <p class="progress-bar-circle-title">Revision</p>
                  </div>
                  <div class="col-sm-4">
                    <!-- Circle Progress Bar-->
                    <div class="progress-bar-circle" data-value="0.99" data-gradient="#01b3a7" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                    <p class="progress-bar-circle-title">Study</p>
                  </div>
                </div>
                <div class="group-md group-middle"><a class="button button-width-xl-230 button-primary button-pipaluk" href="#">Get in touch</a><a class="button button-black-outline button-width-xl-230" href="#">Read more</a></div>
              </div>
              <div class="tab-pane fade" id="tabs-4-3">
                <p>Our mission is to provide the ultimate test preparation platform while becoming a one-stop shop for revision material and guides needed by our students.</p>
                <div class="text-center text-sm-left offset-top-30 tab-height">
                  <ul class="row-16 list-0 list-custom list-marked list-marked-sm list-marked-secondary">
                    <li>Exam questions</li>
                    <li>Real time grading</li>
                    <li>Detailed revision guides</li>
                    <li>Thousands of topics</li>
                    <li>Unlimited test attempts</li>
                    <li>Personalized coaching</li>
                  </ul>
                </div>
                <div class="group-md group-middle"><a class="button button-width-xl-230 button-primary button-pipaluk" href="#">Get in touch</a><a class="button button-black-outline button-md" href="#">Download presentation</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Latest Projects-->
 
  <!--Counters-->
  <!-- Counter Classic-->
  <section class="section section-fluid bg-default">
    <div class="parallax-container" data-parallax-img="images/bg-counter-2.jpg">
      <div class="parallax-content section-xl context-dark bg-overlay-26">
        <div class="container">
          <div class="row row-50 justify-content-center border-classic">
            <div class="col-sm-6 col-md-5 col-lg-3">
              <div class="counter-classic">
                <div class="counter-classic-number"><span class="counter">7</span>
                </div>
                <h5 class="counter-classic-title">Subjects</h5>
              </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
              <div class="counter-classic">
                <div class="counter-classic-number"><span class="counter">200</span>
                </div>
                <h5 class="counter-classic-title">Tests</h5>
              </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
              <div class="counter-classic">
                <div class="counter-classic-number"><span class="counter">4</span><span class="symbol">k</span>
                </div>
                <h5 class="counter-classic-title">Questions</h5>
              </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
              <div class="counter-classic">
                <div class="counter-classic-number"><span class="counter">25</span>
                </div>
                <h5 class="counter-classic-title">Teachers</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


      
  