{% extends "core/base3.html" %}
{% load static %}
{% block content %}



<div class="crazxydiv123">
    <div></div>
    <div>

        <div class="fdgvdsf44223ghj">
            <div class="row4545hhh">
           
                <div class="columnmhjghg675">
                  
                  <div title="unlock test" class="cardfgfdsg555" style="background-color: lightcyan">
                    <span class="icon fa fa-envelope fa-2x"></span>
                    <h4>Email</h4>
                    <p>info@testprepken.com</p>
    
                   
                  </div>
                </div>

                <div class="columnmhjghg675">
                  
                    <div title="unlock test" class="cardfgfdsg555" style="background-color: lightcyan">
                      <span class="icon fa fa-phone fa-2x"></span>
                      <h4>Phone</h4>
                      <p>0717895728</p> 
                     
                    </div>
                  </div>

                  <div class="columnmhjghg675">
                  
                    <div title="unlock test" class="cardfgfdsg555" style="background-color: lightcyan">
                      <span class="icon fa fa-whatsapp fa-2x"></span>
                      <h4>Whatsapp</h4>
                      <p>0717895728</p>
           
                     
                    </div>
                  </div>
              
              </div>
        </div>


        
    </div>
    <div></div>
</div>

{% endblock %}
  