{% extends "core/base3.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style="background: white;">
  <div class="billingdispcol">
  <div></div>
  <div>
  <br>
    <img src="{% static 'core/images4/emailverified.png' %}" alt="" width="368" height="420"/>
    
    <p>Your email was succesfully verified. Return to dashboard to access new content. Thanks for using our platform. </p>
    <a class="button button-md button-default-outline-2 button-ujarak" href="{% url 'dashboard' %}">Return to Dashboard</a>
  
  <br> <br> <br> <br> <br>
  
  
  </div>
    <div></div>
  </div>    
  </div>
{% endblock %}
