{% extends "core/base3.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style="background: linear-gradient(109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);">
  <div class="billingdispcol">
  <div></div>
  <div>
      <p>This is the page shown when processing payments</p>
      <span class="fa fa-cog fa-spin fa-4x"></span>

      
  </div>
    <div></div>
  </div>    
  </div>
  <script>
     window.setTimeout( function() {
      window.location.reload();
    }, 8000); 
     
  </script>

{% endblock %}
