{% extends "core/base3.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style="background: linear-gradient(109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);">
  <div class="billingdispcol">
  <div></div>
  <div>
      <div class="plan-selector12">
        <br>
        <table style="border: 1px solid black;border-left: 0px solid; border-right: 0px solid; width:100%;">
            <tr>
                <th style="border: 0px solid black; border-left: 0px solid; border-right: 0px solid;height: 2.5rem;">Item</th>
                <th style="border: 0px solid black;">Total</th>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-left: 0px solid; border-right: 0px solid;height: 2.5rem;">Study Guide</td>
                <td style="border: 1px solid black;border-left: 0px solid; border-right: 0px solid">KES 336</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; border-left: 0px solid; border-right: 0px solid;height: 2.5rem;">VAT</td>
                <td style="border: 1px solid black; border-left: 0px solid; border-right: 0px solid">KES 64</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; border-left: 0px solid; border-right: 0px solid;height: 2.5rem;">Total</td>
                <td style="border: 1px solid black; border-left: 0px solid; border-right: 0px solid">KES 400</td>
            </tr>
        </table>
        <br>
        <div class="invoice-total12">
            <div> </div>
            <div></div>
        </div>

        <br> <br><br>

        <button type="button" onclick="makePayment()" class="btn3 btn btn-primary btn-lg">Make Payment</button>
        <script src="https://checkout.flutterwave.com/v3.js"></script>

<script>
let cust_contact = "{{user_email}}"
let cust_phone = "{{phone_number}}"
let cust_name = "{{user_name}}"
let red_url = "{{callback_url}}"


    function makePayment() {
        FlutterwaveCheckout({
          public_key: "FLWPUBK-8157d9a5a438ba3591cd721e98abd869-X",
          //public_key: "FLWPUBK_TEST-20f3552e74d88c0ce534a8a29c3710e3-X",
          tx_ref: "titanic-48981487343MDI0NzMx",
          amount: 400,
          currency: "KES",
          //payment_options: "card",
          redirect_url: red_url,
          meta: {
            consumer_id: 23,
            consumer_mac: "92a3-912ba-1192a",
          },
          customer: {
            email: cust_contact,
            phone_number: cust_phone,
            name: cust_name,
          },
          customizations: {
            title: "Testprep Kenya",
            description: "Subscription for study items",
            logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
          },
        });
      }
</script>

        <br><br> <br><br> <br><br>
       
           
           
      </div>
      <br><br>
   
  </div>
    <div></div>
  </div>    
  </div>

  

{% endblock %}
