{% extends "core/base3.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style="background: linear-gradient(109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);">
  <div class="billingdispcol">
  <div></div>
  <div>
      <div class="plan-selector12">
        <br>
        <table style="border: 1px solid black;border-left: 0px solid; border-right: 0px solid; width:100%;">
            <tr>
                <th style="border: 0px solid black; border-left: 0px solid; border-right: 0px solid;height: 2.5rem;">Item</th>
                <th style="border: 0px solid black;">Total</th>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-left: 0px solid; border-right: 0px solid;height: 2.5rem;">Study Guide</td>
                <td style="border: 1px solid black;border-left: 0px solid; border-right: 0px solid">KES 2,520</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; border-left: 0px solid; border-right: 0px solid;height: 2.5rem;">VAT</td>
                <td style="border: 1px solid black; border-left: 0px solid; border-right: 0px solid">KES 480</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; border-left: 0px solid; border-right: 0px solid;height: 2.5rem;">Total</td>
                <td style="border: 1px solid black; border-left: 0px solid; border-right: 0px solid">KES 3,000</td>
            </tr>
        </table>
        <br>
        <div class="invoice-total12">
            <div> </div>
            <div></div>
        </div>

        <br> <br><br>

        <button type="button" onclick="location.href='{% url 'dashboard' %}'" class="btn3 btn btn-primary btn-lg">Make Payment</button>
        <br><br> <br><br> <br><br>
       
           
           
      </div>
      <br><br>
   
  </div>
    <div></div>
  </div>    
  </div>

{% endblock %}
