{% extends "core/base3.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style="background: linear-gradient(109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);">
  <div class="billingdispcol">
  <div></div>
  <div>
      <div class="plan-selector12">
        <img src="{% static 'core/images3/mpesa.jpg' %}" alt="" />
        
        <h6>Phone Number on Record:</h6>
        <br>
            {% for row in mydata %}
            <h5 class="article-title" style="color:#1e90ff;">{{ row.phonenumber }}</h5>
            {% endfor %}
            <br>
            <h6> Please continue if this is still your number </h6>
            <br>
            <button type="button" onclick="location.href='{% url 'annualpayments' %}'" class="btn3 btn btn-primary btn-lg">Continue</button>

          <br><br>
          <h6> or enter a new number here </h6>
           <br>
            <button type="button" onclick="location.href='{% url 'contact-update' numpk %}'" class="btn3 btn btn-primary btn-lg">Change Number</button>
            <br><br><br>
      </div>
   
  </div>
    <div></div>
  </div>    
  </div>

{% endblock %}
