{% extends "core/base3.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style="background: linear-gradient(109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);">
  <div class="billingdispcol">
  <div></div>
  <div>
      <div class="plan-selector12">
        <br>
        <h6>To make a payment, Click on the button below,</h6>
        <br>
        <h6>An STK-Push will be sent to your phone</h6>
        <br><br>
        <button type="button" onclick="location.href='{% url 'dashboard' %}'" class="btn3 btn btn-primary btn-lg">Make Payment</button>
        <br><br>
        <h6 class="ml-2 mr-2"> <strong>All test modules will be unlocked immediately after the payment is successful.</strong></h6><br>
        <h6> This should take 10 - 20 Seconds after payment.  </h6><br>
        <h6>If activation takes more than 5 Minutes</h6>
        <br>
        <h6>Email: abc@gmail.com</h6>
        <br>
        <img src="{% static 'core/images3/mpesalog2.png' %}" alt="" />
        
      
           <br>
           
           
      </div>
   
  </div>
    <div></div>
  </div>    
  </div>

{% endblock %}
